<li class='list-group-item list-group-item-warning'>

    {{this.burger_name}}
    <button class="burger-status" data-id="{{id}}" data-devoured="{{devoured}}">
        {{#if devoured}}Devour!{{else}}Buy Another?{{/if}}
    </button>

</li>